@import "tailwindcss";

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

@utility my-container {
  @apply max-w-[90vw] mx-auto px-6 md:px-[3.5vw] lg:max-w-[100vw];
}

@theme {
  --color-neutral-950: #0a0a0a;

  --font-sans: 'Inter', sans-serif;

  --color-background: #0b0b0d;
  --color-foreground: #f5f5f7;
  --color-muted: #16181d;
  --color-muted-foreground: #a1a1a6;
  --color-secondary: #16181d;
  --color-secondary-foreground: #f5f5f7;
  --color-border: rgba(255, 255, 255, 0.1);
}

body {
  @apply bg-neutral-950 text-neutral-400 font-sans antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-neutral-100;
}

@keyframes shimmer {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -200% 0;
  }
}

@keyframes border-beam {
  100% {
    offset-distance: 100%;
  }
}

.animate-shimmer {
  animation: shimmer 7s linear infinite;
}

.animate-border-beam {
  animation: border-beam 4s linear infinite;
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.bg-dot-pattern {
  background-image: radial-gradient(#333 1px, transparent 1px);
  background-size: 24px 24px;
}